# clone-> team
# clone-> changes-> push
# write access

# write access


# open source contribute
# fork github
# clone
# changes unhe push github
# repo owner incorporate



# hello.txt
# /todo
# *.a
# *.[ao]

# subDir/

# l?b.?xt


# git rm-> rm(terminal) + git add
# git rm <filename>
# git rm -f <filename>
# git rm --cached <filename>
# git commit --amend

# git reset --soft
# --mixed
# --hard